
<div id="modalConfirmation" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4 id="confirmation_message"></h4>
            </div>
            <div class="modal-footer">
                <button id="btnYes" type="button" class="btn btn-primary">Si</button>
                <button id="btnNo" type="button" class="btn btn-primary">No</button>
            </div>
        </div>
    </div>
</div>
